header {
    background-color: orangered;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    height: 75px;
    font-family: "Jolly Lodger";
}
main {
    background-color: #29161c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
footer {
    text-align: center;
}
main div {
    font-family: "Jolly Lodger";
    display: flex;
    flex-wrap: wrap;
    border: solid 2px orange;
    width: 200px;
    height: 200px;
    margin: 15px;
    background-color: #41212b;
    justify-content: center;
    color: orange;
}
footer {
    font-family: "Jolly Lodger";
    border: solid 2px black;
    background-color: #f2eec4;
    font-size: 30px;
}
img {
    border: solid 2px orange;
    height: 150px;
    width: 150px;
    margin: 10px;
}
main div:hover {
    background-color: rgb(159, 159, 76);
}